* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0; /* Adicione isto */
    padding: 0; /* Adicione isto */
    overflow: hidden; /* Remove a barra de rolagem */
    background-color: black; /* Fundo preto */
}

body {
    background-color: brown;
}

.game-container {
    position: absolute; /* Use absolute para ocupar toda a tela */
    top: 0; /* Início na parte superior */
    left: 0; /* Início na parte esquerda */
    width: 100%;  /* Largura total */
    height: 100%; /* Altura total */
}


.game-board {
    width: 100%;   /* Ocupa toda a largura */
    height: 80%;   /* Ajuste conforme necessário */
    border-bottom: 15px solid rgb(35, 160, 35);
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 3s infinite linear; /* Aumente o tempo aqui */
}


.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.scoreboard {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 24px;
    z-index: 1000; /* Para garantir que o placar esteja acima do jogo */
}

.score, .high-score {
    margin-bottom: 5px;
}

.game-over {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Para garantir que a mensagem esteja acima de tudo */
}

.game-over h1 {
    margin-bottom: 10px;
}

.enemy {
    position: absolute;
    bottom: 0;
    width: 60px; /* Aumente para 60px */
    height: auto; /* Mantém a proporção da imagem */
    animation: enemy-animation 3s infinite linear; /* Animação de movimento */
}

.enemy.defeated {
    opacity: 0; /* Torna o Koopa invisível */
    transition: opacity 0.5s; /* Animação suave ao ser derrotado */
}


@keyframes enemy-animation {
    from {
        right: -50px; /* Começa fora da tela */
    }
    to {
        right: 100%; /* Move para fora da tela à direita */
    }
}
 
@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 200px;
    }
    50% {
        bottom: 200px;
    }
    60% {
        bottom: 200px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}
